body {
    background-color: black;
}

.paisesmundo{
    color: white;
    text-align: center;
    margin-top: -155px;
}

.total{
    color: white;
    text-align: center;

}

.input-group{
    margin-left: 320px;
}